# media dirs, TO BE REMOVED
**/media/*
!*/media/default*

# genercal
.*
venv
__pycache__
*.svg

# custom
.recyclebin
config.yaml
tests/
testing*
.logs
BAK
*.bak
**.pkl
/data/*
!/data/templates/
!/data/stopwords_eng.txt
TODO.md


# TEMP
frontend_old
