# genercal
.vscode
venv
.venv
__pycache__
*.svg

# custom
.discard
config.yaml
tests/
testing*
BAK
*.bak
**.pkl
/data/*
!/data/templates/
!/data/stopwords_eng.txt
TODO.md
*.ipynb

.logs

# frontend
curatedCollections/
data/
holdPages/
frontend_svelte/

# pyinstaller
build
*.exe


*.png
*.jpg
!assets/*
