# media dirs, TO BE REMOVED
**/media/*
!*/media/default*

# genercal
.vscode
.idea
.venv
venv
__pycache__
.recyclebin

# custom
tests/
testing*
.logs
BAK
*.bak
**.pkl
/data/*
!/data/templates/
!/data/stopwords_eng.txt
TODO.md


# TEMP
video_folders_hold.yaml
frontend_old
