

section.similar-videos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0.5rem;

    h2 {
        margin-bottom: 1.9rem;
        margin-left: 8%;
        align-self: flex-start;
    }
}

.video-cards-styler {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    max-width: 112rem;
    gap: 5px;
}



/* BUTTONS */

#expand-results-button {
    padding: 0.4rem 1rem;
    background: rgba(54, 33, 14, 0.438);
    color: #ccc;
    border: 1.45px solid #eee6;
    font-size: 1rem;
    letter-spacing: 0.4px;
    font-weight: 600;
    border-radius: 7px;
    margin: 3rem;
    cursor: pointer;
}
#expand-results-button:hover {
    background: rgba(54, 33, 14, 0.238);
}
#expand-results-button:active {
    background: rgba(54, 33, 14, 0.938);
}
