body {
    background: rgb(247, 243, 235);
}

.page-number {
    color: black;
}

/* VIDEO RESULT ITEM */


.video-result-item {

    display: flex;
    margin: 0.4rem;

    * {
        color: rgb(12, 12, 12);
    }

    /* THUMB */
    .thumb-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        width: 550px;
        min-width: 550px;
        aspect-ratio: 16/9;
        height: auto;
        object-fit: contain;
        overflow: hidden;
        background: rgb(10, 10, 10);
        border-radius: 5px;
    }
    
    .thumb-container img {
        height: 100%;
        display: block;
    }
    
    .thumb-container video {
        display: none;
        height: 100%;
        object-fit: contain;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 0.5rem 1rem;
    }

    /* INFO BOX */
    
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .title-container:hover {
        text-decoration: none;
    }
    .title-container {
        width: fit-content;
    }
    
    .duration,
    .resolution,
    .bitrate {
        color: black !important;
    }

    .info-bar {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem;
    }
    .info-bar >::after {
        content: "•";
        margin-left: 5px;
        color: #000;
    }
    .info-bar >:last-child::after {
        content: ""; /* Remove bullet from the last item */
    }

    .actors >::after {
        content: ", ";
        color: #000;
    }
    .actors >:nth-last-child(2)::after {
        content: " & ";
    }
    .actors >:last-child::after {
        content: "";
    }

    .lower-bar {
        margin-top: auto;
    }
}
