
/* Jaro: CandyPop logo */
@font-face {
    font-family: 'Jaro';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Jaro-Regular.ttf');
}

@font-face {
    font-family: 'Bitcount Grid Double';
    src: url('/fonts/BitcountGridDouble-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf');
}
