body {
    overflow-x: hidden;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.target-video-info {
    background: #0009;
    padding: 0 0.5rem;
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.target-video-info a {
    text-decoration: none;
    padding: 0.4rem;
}
.target-video-info a:hover{
    /* opacity: 0.8; */
    color: aquamarine
}

#video-player-container {
    display: flex;
    justify-content: center;
    background: rgb(26, 26, 26);
    width: 100%;
    height: fit-content;
}

#video-results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    max-width: 90%;
}