
section.video-about-section {
    min-height: 40rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 2rem;
    /* background: yellow; */
}

section.video-about-section * { display: flex; }

.left-side-container,
.right-side-container {
    flex-direction: column;
    min-width: 1rem;
    /* background: green; */
}

