
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#search-panel {
    padding: 1.5rem 2rem;
    background: rgb(34, 34, 34);
    border: 1.8px solid rgb(116, 116, 116);
    border-radius: 7px;
    box-shadow: 2px 3px 4px black;
}

.search-box-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.search-element {
    width: 12rem;
}

.query-input {
    width: 24rem;
}

.search-input {
    width: 100%;
    background: white;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    border: None;
    font-family: "Roboto Condensed";
    height: 1.5rem;
    border-radius: 4px;
    padding: 0 0.5rem;
}

#search-button {
    height: fit-content;
    background: orange;
    border-radius: 12px;
    color: darkslategray;
    padding: 0.25rem .6rem;
    font-weight: 600;
}
#search-button:hover {
    cursor: pointer;
}


/* SEARCH PAGE NAV */

#page-nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background:red; */
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#page-nav {
    display: flex;
    justify-content: center;
    height: auto;
    /* background: green; */
}

#page-nav .page-nav-buttons-container {
    display: flex;
    justify-content: center;
}

#page-nav button {
    height: fit-content;
    width: auto;
    min-width: 2.1rem;
    background: white;
    color: black;
    font-size: 18px;
    padding: 0 0.3rem;
    padding-top: 1px;
}
#page-nav button:hover {
    cursor: pointer;
}

#page-nav .filler-button {
    padding: 0;
    padding-top: 1px;
}

/* Search Page Info */

.page-number {
    margin: 1rem;
}

/* prev and next buttons */
#page-nav > button {
    margin: 0 0.5rem;
    width: auto;
    padding: 0 0.3rem;
}

#page-nav-container .page-number-input {
    margin-top: 0.6rem;
    width: 6rem;
    height: 1.5rem;
    font-size: 15px;
    color: black;
    padding-left: 0.4rem;
}

#page-nav .selected {
    background: rgb(218, 27, 106);
}

#page-nav button:active {
    background: rgb(201, 201, 201);
}
/* #page-nav .selected:active */

#page-nav .inactive {
    background: rgb(228, 228, 228);
    color: rgb(160, 160, 160);
}



/* SEARCH RESULTS (SPREADHSEET) */

.search-results-section {
    display: flex;
    justify-content: center;
}


#spreadsheet-container.spreadsheet-view {
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .header {
        display: flex;
    }
    
    .header-cell {
        background: brown;
        display: flex;
        align-items: flex-end;
        font-weight: 600;
        outline: 2px solid orange;
    }
    .header-cell div:hover {
        cursor: pointer;
    }

    .header-cell span input {
        color: black;
    }

    .body-wrapper {
        overflow-y: scroll;
        max-height: 750px;
    }

    .body {
        background: rgb(211, 211, 211);
    }
    
    .table-row {
        display: flex;
        max-height: 1.4rem;
    }

    .body span {
        overflow: hidden;
        text-wrap: nowrap;
        color: black;
        display: flex;
    }

    span {
        margin: 0.2rem 0.3rem;
    }

    .table-row .link a {
        color: blue;
    }

    .table-row:nth-child(odd) { background: rgba(255, 255, 255, 0.562) }
    .table-row:nth-child(even) { background: rgba(71, 71, 71, 0.082); }
    .body .numeric { justify-content: end; }

    /* SPECIFIC COLUMN WIDTHS */
    span.index { width: 3.4rem; }
    span.collection { width: 6rem; }
    span.title { width: 30rem; }
    span.actor { width: 11rem; }
    span.studio { width: 11rem; }
    span.duration { width: 6rem; }
    span.resolution { width: 3rem; }
    span.bitrate { width: 4rem; }
    span.FPS { width: 2.5rem; }
    span.date_released { width: 5rem; }
    span.date_added { width: 8rem; }
    span.hash { width: 5.4rem; }
    span.link { width: 3rem; }


}
